# LaTeX temporary files
Latex/*.aux
Latex/*.bcf
Latex/*.blg
Latex/*.bbl
Latex/*.fdb_latexmk
Latex/*.fls
Latex/*.log
Latex/*.lof
Latex/*.lot
Latex/*.out
Latex/*.run.xml
Latex/*.toc
Latex/*.xdv
Latex/*-blx.bib
Latex/*.synctex*
Latex/chapters/*.aux

# Python
__pycache__/
*.pyc
venv/
.venv/

# Secrets
.env

# Node
node_modules/
dist/

# IDE
.vscode/